<div class="d-flex flex-column col-11 col-lg-3 mx-3">
  <%= link_to new_coordinate_path, class: "btn btn-success btn-lg mb-3" do %>
    コーディネート<br>投稿
  <% end %>
  <% Coordinate.styles_i18n.values.each do |style| %>
    <%= link_to random_coordinates_path(style: style), class: "btn btn-primary btn-lg mb-3" do %>
      <%= style %><br>ランダム
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.coordinates.present? %>
      <%= link_to random_coordinates_path(my: "posts"), class: "btn btn-info btn-lg mb-3" do %>
        マイコーディネート<br>ランダム
      <% end %>
    <% end %>
    <% if current_user.bookmarks.present? %>
      <%= link_to random_coordinates_path(my: "bookmarks"), class: "btn btn-info btn-lg" do %>
        マイブックマーク<br>ランダム
      <% end %>
    <% end %>
  <% end %>
</div>