<div class="col-2 m-4">
  <div class="d-flex flex-row">
    <% if user_signed_in? %>
      <%= link_to coordinate_path(coordinate) do %>
        <%= image_tag coordinate.get_coordinate_image(150,200) %>
      <% end %>
      <div id="bookmark_btn_<%= coordinate.id %>">
        <%= render "public/bookmarks/btn", coordinate: coordinate %>
      </div>
    <% elsif admin_signed_in? %>
      <%= link_to admin_coordinate_path(coordinate) do %>
        <%= image_tag coordinate.get_coordinate_image(150,200) %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to coordinate.user.name, user_path(coordinate.user) %><br>
      <%= coordinate.style_i18n %>
    <% elsif admin_signed_in? %>
      <%= link_to coordinate.user.name, admin_user_path(coordinate.user) %>
    <% end %>
  </div>
</div>