<div class="col">
  <div class="row m-3">
    <% if admin_signed_in? %>
      <h3>投稿一覧</h3>
    <% else %>
      <% if params[:user_id] %>
        <h3 class="font-weight-bold bg-light px-3"><%= user.name %>さんの投稿一覧</h3>
      <% elsif params[:tag_name] %>
        <h3 class="font-weight-bold bg-light px-3">タグ:<%= params[:tag_name] %>の投稿一覧</h3>
      <% else %>
        <h3 class="font-weight-bold bg-light px-3">コーディネート一覧</h3>
      <% end %>
    <% end %>
  </div>
  <% unless admin_signed_in? %>
    <div class="d-flex justify-content-lg-end flex-wrap justify-content-center m-3">
      <div class="btn-group mx-3" role="group">
        <% Coordinate.styles_i18n.values.each do |style| %>
          <%= link_to style, coordinates_path(style: style), class: "btn btn-secondary" %>
        <% end %>
      </div>
      <div>
        <%= link_to "リセット", coordinates_path, class: "btn btn-success mx-3" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <% coordinates.each do |coordinate| %>
      <div class="col-12 col-lg-3 my-3">
        <div class="row">
          <div class="col-7 col-lg-12">
            <% if admin_signed_in? %>
              <%= link_to admin_coordinate_path(coordinate) do %>
                <%= image_tag coordinate.get_coordinate_image(150,200) %>
              <% end %>
            <% else %>
              <div class="d-flex flex-row justify-content-center">
                <%= link_to coordinate_path(coordinate) do %>
                  <%= image_tag coordinate.get_coordinate_image(150,200) %>
                <% end %>
                <div class="ml-1" id="bookmark_btn_<%= coordinate.id %>">
                  <%= render "public/bookmarks/btn", coordinate: coordinate %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-4 offset-1 col-lg-12">
            <% if admin_signed_in? %>
              <%= link_to coordinate.user.name, admin_user_path(coordinate.user) %><br>
            <% else %>
              <%= link_to coordinate.user.name, coordinates_path(user_id: coordinate.user.id) %><br>
            <% end %>
            <%= link_to coordinate.style_i18n, coordinates_path(style: coordinate.style) %><br>
            <% coordinate.tag_list.first(2).each do |tag| %>
              <span class="badge badge-secondary"><%= link_to tag, coordinates_path(tag_name: tag), class: "text-white" %></span><br>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row m-3">
    <%= paginate coordinates %>
  </div>
</div>