<div class="container my-5">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-3 d-flex flex-column">
        <%= render 'public/coordinates/button' %>
      </div>
    <% end %>
    <div class="col">
      <div class="row m-3 d-flex justify-content-between">
        <h2 class="font-weight-bold bg-light px-3">コーディネート一覧</h2>
        <div class="tabs align-items-center">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mens">メンズ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#ladies">レディース</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#unisex">ユニセックス</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#all">オール</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div id="mens" class="tab-pane fade">
          <div class="row">
            <% @mens_coordinates.each do |coordinate| %>
              <%= render "index", coordinate: coordinate %>
            <% end %>
          </div>
          <div class="row">
            <%= paginate @mens_coordinates %>
          </div>
        </div>
        <div id="ladies" class="tab-pane fade">
          <div class="row">
            <% @ladies_coordinates.each do |coordinate| %>
              <%= render "index", coordinate: coordinate %>
            <% end %>
          </div>
          <div class="row">
            <%= paginate @ladies_coordinates %>
          </div>
        </div>
        <div id="unisex" class="tab-pane fade">
          <div class="row">
            <% @unisex_coordinates.each do |coordinate| %>
              <%= render "index", coordinate: coordinate %>
            <% end %>
          </div>
          <div class="row">
            <%= paginate @unisex_coordinates %>
          </div>
        </div>
        <div id="all" class="tab-pane fade show active">
          <div class="row">
            <% @coordinates.each do |coordinate| %>
              <%= render "index", coordinate: coordinate %>
            <% end %>
          </div>
          <div class="row">
            <%= paginate @coordinates %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
