<div class="container my-3">
  <div class="row">
    <%= render 'public/coordinates/button' %>
    <div class="col">
      <div class="text-center m-5">
        <p>
          Welcome,RANDINATE!<br>
          あなたのコーディネートを投稿し、<br>
          みんなのコーディネートを参考にしよう！<br>
          服装に悩んであなたでもランダム検索<br>
          あなたのお気に入りを探そう！！！
        </p>
      </div>
      <div class="row m-3">
        <h2 class="font-weight-bold">新着投稿</h2>
      </div>
      <div class="row">
        <% @coordinates.each do |coordinate| %>
          <div class="col-2 m-4">
            <%= link_to coordinate_path(coordinate) do %>
              <%= image_tag coordinate.get_coordinate_image(150,200) %><br>
            <% end %>
            <%= link_to coordinate.user.name, coordinates_path(user_id: coordinate.user.id) %><br>
            <%= link_to coordinate.style_i18n, coordinates_path(style: coordinate.style) %><br>
            <% coordinate.tag_list.first(2).each do |tag| %>
              <span class="badge badge-secondary"><%= link_to tag, coordinates_path(tag_name: tag), class: "text-white" %></span><br>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "全ての投稿を見る>", coordinates_path %>
      </div>
    </div>
  </div>
</div>
